section
{
    display: flex;  justify-content: center;
}
form
{
    display: flex;  flex-direction: column;  width: 380px;  border: 1px solid;
}
.two-columns
{
    display: flex;  flex-basis: wrap;
}
.two-columns > *
{
    width: 47%;
}

input
{
    margin-top: 5px;     padding: 15px;  border: 1px solid grey;
    border-radius: 5px;
}
button
{
    width: 100%;
}
